{% macro loop(page) %}
    {% import _self as nav %}
    {% for p in page.children.visible %}
        {% set classes = [] %}
        {% if p.active or p.activeChild %}
            {% set classes = classes|merge([ 'active' ]) %}
        {% endif %}
        {% if p.header.menu_classes %}
            {% set classes = classes|merge([ p.header.menu_classes ]) %}
        {% endif %}
            <li class="menu__item {{ classes|join( ' ' ) }}">
                <a class="menu__link" href="{{ p.url }}">
                    {{ p.menu }}
                </a>
            </li>
    {% endfor %}
{% endmacro %}