.modular {
    & + & {
        margin-top: var( --gap-mars );
    }

    &__title {
        margin-bottom: 1rem;
        font-size: 1.4em;
        font-size: clamp( 1.4em, 4vw, 1.6em );
        font-weight: 700;
        line-height: 1.1;
    }
}