{% set tpl_body_classes = 't-archive' %}
{% set page_title = page.header.headline|default( page.title ) %}
{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="wrapping">
        <h1 class="headline">
            {{ page_title }}
        </h1>

        {% if config.plugins.taxonomylist.enabled %}
        <section class="archive">
            <h2 class="archive__title">Kategorien</h2>
            {% include 'partials/blog/taxonomylist.html.twig' with { 'taxonomy': 'category' } %}
        </section>

        <section class="archive">
            <h2 class="archive__title">Tags</h2>
            {% include 'partials/blog/taxonomylist.html.twig' with { 'taxonomy': 'tag' } %}
        </section>
        {% endif %}
    </div>
{% endblock %}