.archive {
    & + & {
        margin-top: var( --gap-jupiter );
    }

    &__title {
        margin-bottom: var( --gap );
        font-size: 1.6em;
        font-weight: 700;
    }

    &__list {
        columns: 12em;

        a {
            text-decoration: underline;

            &:focus,
            &:hover {
                --link-color: var( --link-color-hover );
            }
            &:focus {
                outline: 2px solid;
                outline-offset: 3px;
            }
        }
    }
}