.header {
    margin-bottom: var( --gap-mars );

    .wrapped {
        display: flex;
        align-items: center;
        padding: var( --gap ) 0;
    }

    @media ( max-width: 44.99em ) {
        .wrapped {
            flex-direction: column;
        }
        .navigation {
            margin-top: var( --gap );
        }
    }
    @media ( min-width: 45em ) {
        .wrapped {
            justify-content: space-between;
        }
    }
}