.notice {
    --comp-bg: #fff;
    --comp-brd: #777;
    --comp-txt: var( --text-default );

    padding: var( --gap-moon );
    color: var( --comp-txt );
    background: var( --comp-bg );
    border-left: .4em solid var( --comp-brd );

    &:empty { display: none; }

    a {
        text-decoration: underline;
        color: inherit;
    }

    &--success {
        --comp-brd: #859900;
    }

    &--warning {
        --comp-brd: #b58900;
    }

    &--error {
        --comp-brd: #dc322f;
    }

    &--extended {
        display: grid;
        grid-template-columns: 3em auto;
        align-items: center;
        gap: 1em;

        .icon {
            justify-self: center;
            font-size: 1.5em;
        }

        .icon--language {
            width: 2em;
            height: 1em;
            font-size: 1em;
        }
    }
}