.textflow {
    & > * + * {
        margin-top: var( --body-lh );
    }

    ul,
    ol { margin-left: 1em; }
    li { break-inside: avoid; }
    ol { list-style: decimal; }
    ul { list-style: disc; }
    li ol,
    li ul { margin-bottom: 0; }
    li ul { list-style-type: circle; }

    h2,
    h3,
    h4 {
        font-weight: 700;
    }
    h2 {
        font-size: 1.75em;
        line-height: calc( 1ex / .38 );
        margin-top: calc( 1ex / .38 );
    }
    h3,
    h4 {
        line-height: calc( 1ex / .37 );
        margin-top: calc( 1ex / .37 );
    }
    h3 {
        font-size: 1.5em;
    }
    h4 {
        font-size: 1.2em;
    }

    h2 + *,
    h3 + *,
    h4 + * {
        margin-top: 1ex;
    }

    table {
        width: 100%;
    }
    th,
    td {
        padding: .5em;
    }
    th {
        font-weight: 700;
        border-bottom: 2px solid var( --color-border );
    }
    th:empty {
        display: none;
    }
    tr + tr td {
        border-top: 1px solid var( --color-border );
    }

    svg:not(.icon),
    img {
        max-width: 100%;
        height: auto;
    }

    svg.full,
    img.full {
        display: block;
        max-width: 100%;
        height: auto;
    }

    @media only screen and (max-width: 29.99em) {
        .left,
        .right {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media only screen and (min-width: 30em) {
        .right {
            float: right;
            margin-left: var( --gap );
        }
        .left {
            float: left;
            margin-right: var( --gap );
        }
    }

    a {
        text-decoration: underline;

        &:focus,
        &:hover {
            --link-color: var( --link-color-hover );
        }
        &:focus {
            outline: 2px solid;
            outline-offset: 3px;
        }
    }

    .button {
        text-decoration: none;
    }

    blockquote {
        position: relative;
        padding-left: 2rem;
        font-size: 1.2em;
        word-break: break-word;

        &:after,
        &:before {
            content: '';
            position: absolute;
        }
        &:after {
            top: 0;
            bottom: 0;
            left: .5rem;
            border-left: .2em solid;
            opacity: .6;
        }
    }
    code {
        padding: .1rem .3rem .2rem;
        word-break: break-word;
        color: #002b36;
        border-radius: .2rem;
    }
    code[class^='language-'] {
        position: relative;

        &::before {
            position: absolute;
            right: 0;
            top: 0;
            padding: .5em .7em;
            font-family: sans-serif;
            font-size: .6rem;
            font-weight: 700;
            color: var( --color-primary );
        }
    }
    .language {
        &-md::before { content: 'Markdown'; }
        &-css::before { content: 'CSS'; }
        &-html::before { content: 'HTML'; }
        &-js::before { content: 'JS'; }
        &-yaml::before { content: 'YAML'; }
    }
    pre code {
        display: block;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        padding: var( --gap );
        line-height: 1.3;
        white-space: pre;
        color: #fdf6e3;
        background: #002b36;
        scrollbar-color: #666 #002b36;
    }
}