<article class="home__news entry">
    <h3 class="title">
        <a class="link" href="{{ post.url }}" rel="bookmark">
            {{ post.title }}
        </a>
    </h3>
    <p class="date">
        {% set lang = page.language ? page.language : grav.language.default %}
        <time class="datetime dt-published" datetime="{{ post.date|date("c") }}">
            {{ post.date|localizeddate( 'long', 'none', lang ) }}
        </time>
    </p>
</article>