@font-face {
    font-family: 'Verb SL';
    src: url('../fonts/VerbRegular-subset.woff2') format('woff2'),
        url('../fonts/VerbRegular-subset.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verb SL';
    src: url('../fonts/VerbRegular-Italic-subset.woff2') format('woff2'),
        url('../fonts/VerbRegular-Italic-subset.woff') format('woff');
        font-weight: 400;
        font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Verb SL';
    src: url('../fonts/VerbLight-subset.woff2') format('woff2'),
        url('../fonts/VerbLight-subset.woff') format('woff');
        font-weight: 300;
        font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Verb SL';
    src: url('../fonts/VerbBold-subset.woff2') format('woff2'),
        url('../fonts/VerbBold-subset.woff') format('woff');
        font-weight: 700;
        font-style: normal;
    font-display: swap;
}

/* because cssnano will drop the whole file though */
.font-loaded {
    font-family: 'Verb SL';
}